@font-face {
    font-family: Small Bunny;
    src: url(../fonts/SmallBunnyRegular.woff2) format('woff2'),
         url(../fonts/SmallBunnyRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-bunny {
	font-family: Small Bunny;
}

.game-container {
	position: relative;
	margin: 20px auto;
}

body {
	background-color: #ffe7da;
	/*background-image: url('../images/eientei_day.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;*/
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    height: 1500px;
}

.btn:active:focus {
	outline: none !important;
	box-shadow: none !important;
}
.btn {
	border-radius: 24px !important;
	border: 1px solid rgba(0,0,0,0.75);
	border-bottom: 2px solid rgba(0,0,0,0.75);
	border-right: 2px solid rgba(0,0,0,0.75);
	transition: 0.05s;
}
.btn:hover {
	border: 1px solid rgba(0,0,0,0.75);
	margin-top: -1px !important;
	border-bottom: 4px solid rgba(0,0,0,0.75);
}
.btn-primary {
	background-color: #da7462 !important;
}
.btn-primary:disabled {
	opacity: 1;
	background-color: #9b9b9b !important;
	color: rgba(255, 255, 255, 0.5) !important;
	border-color: rgba(0, 0, 0, 0.75);
}

.card {
	border-radius: 16px;
	box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.75);
	-webkit-box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.75);
/*	border-color: rgba(0, 0, 0, 0.75);*/
	border-color: rgb(247 129 113 / 11%);
}

.card * {
	border-radius: 0px;
}

.upgrade-card {
	background: rgb(250,218,171);
	background: linear-gradient(180deg, rgba(250,218,171,1) 0%, rgba(251,223,183,1) 4%, rgba(252,229,197,1) 9%, rgba(252,233,206,1) 15%, rgba(253,238,217,1) 21%, rgba(254,242,227,1) 30%, rgba(254,245,233,1) 38%, rgba(254,248,240,1) 48%, rgba(255,251,244,1) 58%);
	display: flex;
    overflow: hidden;
    justify-content: flex-start;
}

.falling-image {
	position: absolute;
	top: 0;
	z-index: -1;
	user-select: none;
	pointer-events: none;
	opacity: 0.33;
	animation: wiggle 2s ease-in-out infinite;
}

.wiggle-short {
	animation: wiggle-short 2s ease-in-out infinite;
}

.wiggle {
	animation: wiggle 4s ease-in-out infinite;
}

@keyframes wiggle-short {
    0% { transform: rotate(-8deg); }
    50% { transform: rotate(8deg); }
    100% { transform: rotate(-8deg); }
}

@keyframes wiggle {
    0% { transform: rotate(-15deg); }
    50% { transform: rotate(15deg); }
    100% { transform: rotate(-15deg); }
}

#chatStream {
    position: absolute;
    height: 800px;
    width: 100%;
}

.chatText {
    position: absolute;
    white-space: nowrap;
    color: #000;
    user-select: none;
    pointer-events: none;
}

.tewi-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: center;
}
.progress.vertical {
	width: 20px; /* Width of the progress bar */
	height: 80%; /* Full height */
	position: relative;
	margin: auto;
	float: none;
	display: inline-block;
	background-color: transparent;
	border: 1px solid rgba(0,0,0,0.75);
}

.progress.vertical .progress-bar {
	width: 100%; /* Set width of the progress bar */
	position: absolute;
	bottom: 0;
}
.card-header {
	position: relative; /* Establishes a context for absolute positioning of children */
	border-top-right-radius: 16px !important;
	border-top-left-radius: 16px !important;
	background-color: rgb(247 129 113 / 11%);
}
.spacer {
	height: 24px; /* this element will maintain the height of the card-header */
	visibility: hidden; /* this makes the element invisible but still taking up space */
}
.progress-container {
	position: absolute; /* Absolute positioning */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.progress {
	width: 100%;
	height: 100%;
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	background-color: rgb(247 129 113 / 11%);
}
.tooltip .tooltip-inner {
	background-color: white;
	border-radius: 16px;
	box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
	-webkit-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
/*	border-color: rgba(0, 0, 0, 0.75);*/
	border-color: rgb(247 129 113 / 11%);
	color: #000;
}

.tooltip-arrow {
    display: none !important;
}